
/* Lomakkeiden reunat */

form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

/* Painikkeet adminissa */

.logout {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#notbold {
    font-weight: light !important;
    padding: 10px 20px;
    text-align: center;
}

.adminlinkit {
    color:black;
}

.adminlinkit:hover {
    text-decoration: underline;
    color: black;
}

.adminbutton {
    background-color: #447f43 !important;
    border-color: #FFFFFF;
    color: white !important;
    font-family: Montserrat;
    font-weight: bold;
}

/* Input-kentät */

.admininput {
    height: 35px;
}

/*Aarne, tästä eteenpäin */

#adminHeader {
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    font-size: 22px;
  }
  
  #adminBody {
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    font-size: 13px;
  }