form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

p {
    font-family: PT Sans Caption;
    font-size: large;
}

h1 {
    font-family: Montserrat;
    font-size: xx-large;
    font-weight: bold;
  }
  
  h2 {
    font-family: Montserrat;
    font-size: x-large;
    font-weight: bold;
  }

/* Kirjojen muokkausalueen tyyli */

.muokkaus {
    font-family: PT Sans Caption;
    font-size: large;
    margin: 1rem;
}

/* Painikkeet adminissa */

.logout {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#notbold {
    font-weight: light !important;
    padding: 10px 20px;
    text-align: center;
}

.adminlinkit {
    color:black;
}

.adminlinkit:hover {
    text-decoration: underline;
    color: black;
}

.adminbutton {
    background-color: #447f43 !important;
    border-color: #FFFFFF;
    color: white !important;
    font-family: Montserrat;
    font-weight: bold;
}


