form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

p {
    font-family: PT Sans Caption;
    font-size: large;
}

/* Kirjojen muokkausalueen tyyli */

.muokkaus {
    font-family: PT Sans Caption;
    font-size: large;
    margin: 1rem;
}

/* Painikkeet adminissa */

.logout {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#notbold {
    font-weight: light !important;
    padding: 10px 20px;
    text-align: center;
}

.adminlinkit {
    color:black;
}

.adminlinkit:hover {
    text-decoration: underline;
    color: black;
}

.adminbutton {
    background-color: #447f43 !important;
    border-color: #FFFFFF;
    color: white !important;
    font-family: Montserrat;
    font-weight: bold;
}

.admininput {
    height: 35px;
}

#adminHeader{
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    font-size: 22px;
  }
  
  #adminBody{
    
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    font-size: 13px;
  } 
