@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

.backToList {
  color: white !important;
  font-weight: bold;
}

.centerh1 {
  text-align: center;
  font-family: Montserrat;
  font-size: xx-large;
  font-weight:bolder;
}

.centerh2 {
  text-align: center;
  font-family: Montserrat;
  font-size: x-large;
  font-weight: bolder;
}

.btn-primary {
    background-color: #447f43 !important;
    border-color: #FFFFFF;
    font-family: Montserrat;
}

.btn-primary:hover {
  outline: black !important;
}

#detail {
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
}
  
#detailKuva {
    max-width: 300px;
    margin-left: 2em;
}
  
#detailKarry {
    max-width: 50px;
    margin-bottom: 2em;
}

#detail p{
  color:black;
  font-family: PT Sans Caption;
  font-size: large;
  font-weight: normal;
  }

