footer {
    background-color: #214321;
    min-height: 20vh;
}

#uutiskirje {
    color: white;
    font-size: normal;
    font-weight: bold;
}

footer div a {
    color: white !important;
    text-decoration: none;
    font-family: Montserrat !important;
    font-weight: bold;
    line-height: 50px;
}

.uutiskirje {
    color: white;
}

.uutiskirje:hover {
    background-color: #f2f2f2;
    color: black !important;
}

.form-control {
    box-shadow: none !important;
}