#id {
    background-color: #447F43 ;
    color: white !important;
}

a {
    color: white !important;
    font-family: Montserrat !important;
}

navbar-toggler {
    color: white;
    background-color: white !important;
}

#alasveto {
    background-color: #447F43;
    border: none;
}
