
/* Otsikon määritys */

#keskita {
    text-align: center;
  }

/* Tyhjennä-button */

.tyhjenna {
    max-width: 150px;
    text-align: center;
}

/* Tekstin muuttaminen normaalikokoiseksi */

#notbold {
    font-weight: normal;
}

/* Tilaus-button */

.orderbutton {
    background-color: #447f43 !important;
    border-color: #FFFFFF;
    color: white !important;
    font-family: Montserrat;
    font-weight: bold;
}





