/* tutoriaalista tyylejä Hakutulos-divin näyttämiselle, siis usean hakutuloksen näyttäminen. ei ihan pelitä niinkuin pitää */

/* .search {

} */

.dataResult {
  display: block;
}

.result{
  background-color: #447f43;
  text-decoration: none !important;
}

/* li {
  text-decoration: none !important;
} */
 
  /*  .dataResult {
    margin-top: 300px !important;
    width: 200px;
    background-color: #F2f2f2 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    overflow:hidden;
    overflow-y: auto;
    display: block;
  } */

/* Tällä määritetään, ettei näytä scroll baria oikealla */

  .dataResult::-webkit-scrollbar {
    display: none;
  }
/* tutoriaalista jotain tyylejä yksittäisen hakutuloksen näyttämiselle, ei ihan pelitä niinkuin pitää */

/* .dataResult .dataItem {
    width: 100%;
    height: 50px;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  } */