/* Sovitut värit:
Tummin: #0C400B (footerin tausta)
#447F43 (logo)
#73B572 (esim vasen sivu)
#B6D8B6 (hakukenttä)
Vaalein: FFFFF (headerin tausta, footerin tekstit, valikkotekstit)
E5E5E5 (mainin tausta)

Sovitut fontit:
Montserrat (valikot, iso otsikko etusivulla, footer&header)
PT Sans Caption (Leipäteksti, tää pitää testata käytännössä)
 */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

main {
  background: E5E5E5;
}


h1 {
  font-family: Montserrat;
  font-size: x-large;
}

p {
  font-family: PT Sans Caption;
  font-size: large;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

.swipe {
  overflow: auto;
  white-space: nowrap;
}

/* logo */

.logo img {
  max-height: 100%;
  max-width: 100%;
}

/* sivunavi */



ul li a {
  color: #ffffff !important;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  
}

.sidenav-container {
  /* position: fixed;
  width:50px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  left:0;
  background-color: #447f43; /* Black */
  padding-top: 20px;
}


.no-left-space {
  padding-left: 10%;
  margin-left: 10%;
  overflow-x: hidden;
}
