/* Sovitut värit:
Tummin: #0C400B (footerin tausta)
#447F43 (logo)
#73B572 (esim vasen sivu)
#B6D8B6 (hakukenttä)
Vaalein: FFFFF (headerin tausta, footerin tekstit, valikkotekstit)
E5E5E5 (mainin tausta)

Sovitut fontit:
Montserrat (valikot, iso otsikko etusivulla, footer&header)
PT Sans Caption (Leipäteksti, tää pitää testata käytännössä)
 */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

a {
  color: black !important;
}

h1 {
  font-family: Montserrat;
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-family: Montserrat;
  font-size: x-large;
  font-weight: bold;
}

p {
  font-family: PT Sans Caption;
  font-size: large;
}

/* logo */
.logo {
  max-height: 100%;
  max-width: 100%;
}

/* sivunavi */
ul li {
  color: #447f43;
  font-family: Montserrat;
  font-size: large;
  font-weight: normal;
  line-height: 50px;
  
}

.nav-link {
  color: #447f43;
}

.sidenav-container {
  background-color: #447f43; 
  padding-top: 20px;
}

.header-style ul li a  {
  color:red;
}

img {
  max-width: 150px;
  margin-bottom: 2em;
}

#hidden {
  visibility: hidden;
}

#pieni {
  max-width: 1.5rem;
}

/* top-kirjojen blokki, en muista mikä tähän haluttiin taustaväriksi -iida */
#top7 {
  background-color: #f2f2f2;
  padding: 1em;
  margin: 1em;
  text-align: center;
  border-color: black;
}


/*kaikkien kirjojen blokki */
#kaikki {
  padding: 1em;
  margin: 1em;
  text-align: center;
}

#kirja {
  border-style:outset;
  border-width: thin;
}

/* UKK-sivun accordion */

.accordion, .accordion-header{
  font-family: PT Sans Caption;
  font-size: large;
}

.accordion-button:not(.collapsed){
  color: black; 
  background-color: #f2f2f2;
  box-shadow: none;
}

.accordion-button:focus, .accordion-button.collapsed::active {
  border-color: none !important;
}

.collapse:focus {
  border-color: none !important;
}



